<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="<%= stylesheet_path "application" %>">
		<script src="<%= javascript_path "application" %>"></script>
		<title>MongoWiki</title>
	</head>
	<body>
		<div id="navigation">
			<a href="/new">new article</a>
			<a href="/list">list articles</a>
			<a href="/history">history</a>
		</div>
		<div id="content">
			<%= yield %>
		</div>
	</body>
</html>