<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="<%= stylesheet_path('application') %>">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="<%= javascript_path('application') %>"></script>
		<title>MongoWiki</title>
	</head>
	<body>
		<div id="wrapper">
			
			<section id="main-bar" class="clearfix">
				<nav id="navigation" role="navigation" class="left">
					<ul class="list">
						<li><a href="<%= url('/new') %>" class="button blue" alt="create article">create article</a></li>
					</ul>
				</nav>
				<div id="search" role="search" class="left">
					<input type="text" name="query" class="query" placeholder="Search..." />
				</div>
			</section>
			
			<section id="content" role="content">
				<%= yield %>
			</section>

		</div>
	</body>
</html>