<div class="error">
	<h3 class="title">404 </h3>
	<div class="message">
		I don't know what you are searching here, but maybe you should look for it somewhere else, cause it's not here.
	</div>
</div>