<div class="error">
	<h3 class="title">Error Message</h3>
	<div class="message">
		<% if @error %>
			<%= @error.message %>
			<h3>Backtrace</h3>
			<code class="backtrace">
				<%= @error.backtrace.join("<br/>") %>
			</code>
		<% end %>

		<% if @message %>
			<%= @message %>
		<% end %>
	</div>
</div>