<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/assets/application.css" type="text/css" />
		<script src="/assets/application.js" type="text/javascript"></script>
		<title>MongoWiki</title>
	</head>
	<body>
		<div id="navigation">
			<a href="/new">new article</a>
			<a href="/list">list articles</a>
			<a href="/history">history</a>
		</div>
		<div id="content">
			<%= yield %>
		</div>
	</body>
</html>