<form action="/create" method="POST">
	<input type="hidden" name="deleted" value="false" />
	<p>
		<input type="text" name="title" size="133" />
	</p>
	<p>
		<textarea rows="30" cols="100" name="text"></textarea>
	</p>
	<p>
		<input type="submit" value"save" />
	</p>
</form>