%form{:action => '/create', :method => 'POST'}

	%input{:type => 'hidden', :name => 'deleted', :value => 'false'}
	
	%p
		%input{:type => 'text', :name => 'title', :size => '133'}
	
	%p
		%textarea{:rows => '30', :cols => '100', :name => 'text'}
	
	%p
		%input{:type => 'submit', :value => 'create article'}