body 
	margin: 0
	padding: 0
	font:
		color: #000
		family: sans-serif
	background-color: #DDD	
		
	#content 
		margin: 20px
		
	#navigation
		background: #333333
		background: -moz-linear-gradient(top, #333333 0%, #666666 100%)
		background:	-webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#666666))
		background:	-webkit-linear-gradient(top, #333333 0%,#666666 100%)
		background:	-o-linear-gradient(top, #333333 0%,#666666 100%)
		background:	-ms-linear-gradient(top, #333333 0%,#666666 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 )
		background: linear-gradient(top, #333333 0%,#666666 100%)	
		border-width: 0 0 2px 0 
		border-style: solid
		border-color: #333
		a
			display: inline-block
			margin-right: 10px
			padding: 15px
			color: #FFF		
		a:hover
			background: #333333
			background: -moz-linear-gradient(top, #666 0%, #333 100%)
			background:	-webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(100%,#333))
			background:	-webkit-linear-gradient(top, #666 0%,#333 100%)
			background:	-o-linear-gradient(top, #666 0%,#333 100%)
			background:	-ms-linear-gradient(top, #666 0%,#333 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666', endColorstr='#333',GradientType=0 )
			background: linear-gradient(top, #666 0%,#333 100%)
			border:
				width: 0 2px
				style: solid
				color: #222
			color: #DDD
	
	.article
		a
			color: #000
		a:hover
			color: #666
	
	ul
		list-style-type: none
		list-style: none			
		padding: 10px
		margin: 0
		li 
			border: 1px solid #999
			display: block
			margin: 5px 0
			padding: 5px
		li:nth-child(even)
			background-color: #DDD
		li:nth-child(odd)
			background-color: #EEE
			
	form
		p
			margin-left: 40px
			padding: 0
			label
				display: inline-block
				width: 100px
				max-width: 100px
			input[type='text'], textarea
				border: 1px solid #CCC
				background-color: #FFF
				padding: 5px
				margin: 0
				width: 80%
				font:
					size: 10pt
			input[type='submit']
				border: 1px solid #999
				background-color: #CCC
				padding: 5px
				width: 10%
				font:
					weight: bold
					color: #333
				border-radius: 5px
				-o-border-radius: 5px
				-moz-border-radius: 5px
				-webkit-border-radius: 5px
					
	.article
		#title
			margin: 0 0 3px 0
		#text
			padding: 10px
			border:
				width: 1px
				style: solid
				color: #333
			border-radius: 5px
			-o-border-radius: 5px
			-moz-border-radius: 5px
			-webkit-border-radius: 5px
			background: #FFF	
			font:
				family: serif
				size: 11pt
			p 
				padding: 0
				margin: 0
		#urls
			a
				display: inline-block
				background-color: #EEE
				border: 1px solid #999
				margin: 10px 0
				padding: 5px
	.error
		background-color: #FCC
		color: #633
		border: 1px solid #300
		padding: 10px
		font:
			size: 20px
		text-align: center