<header class="site-header">
	<div class="title">
		<h1>mongowiki</h1>
	</div>
	<div class="search">
		<label for="query">Search: </label>
		<input type="text" name="query" placeholder="Search..." />
	</div>
</header>