<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/assets/application.js"></script>
		<link rel="stylesheet" href="/assets/application.css">
		<title>MongoWiki</title>
	</head>
	<body>
		<div id="wrapper">
			<%= render 'layouts/_header.erb' %>
			<%= render 'layouts/_navigation.erb' %>
			<%= render 'layouts/_messages.erb', :messages => messages %>
			<section id="content" role="content">
				<%= yield %>
			</section>
		</div>
	</body>
</html>