<h2 class="title">diff between latest version and version <%= params[:aVersion] %></h2>

<section class="compare">

	<h4>article title</h4>
	<%= @title_diff.to_s(:html) %>

	<h4>article text</h4>
	<%= @text_diff.to_s(:html) %>
	
	<a href="/show/<%= @article._id %>" class="button red">back</a>
	
</section>