<% action = @article.new_record? ? "/create" : "/update/#{@article._id}" %>

<form action="<%= action %>" method="post">
	<fieldset>
		<div class="control-group">
			<label for="article[title]" class="control-label">Title: </label>
			<input type="text" value="<%= @article.title %>" name="article[title]" />
		</div>
		<div class="control-group">
			<label for="article[text]" class="control-label">Text: </label>
			<textarea name="article[text]"><%= @article.text %></textarea>
		</div>
		<div class="form-actions">
			<input type="submit" value="Save" class="btn btn-large btn-primary"/>
			<input type="reset" value="Reset" class="btn btn-large">
		</div>
</form>